<div class="custom-links">
    <a href="{{@site_url}}/privacidad/">Privacidad</a>
    <a href="{{@site_url}}/terms/">Terminos y Condiciones</a>
    <a href="{{@site_url}}/nosotros/">Nosotros</a>
    <a href="{{@site_url}}/contact/">Contacto</a>
</div>
