<div class="custom-links">
    <a href="{{@site_url}}/privacy/">Privacidad</a>
    <a href="{{@site_url}}/terms/">Terminis y Condiciones</a>
    <a href="{{@site_url}}/about/">Nosotros</a>
    <a href="{{@site_url}}/contact/">Contacto</a>
</div>
