<div class="custom-links">
    <a href="{{@site_url}}/privacidad/">Privacidad</a>
    <a href="{{@site_url}}/aviso-legal-terminos-y-condiciones/">Terminos y Condiciones</a>
    <a href="{{@site_url}}/nosotros/">Nosotros</a>
    <a href="{{@site_url}}/contacto/">Contacto</a>
</div>
