<div class="search-popup">
	<div class="close-button">
		{{> icons/close}}
	</div>
	
<script type="text/javascript"> var ss360Config = { 
    siteId : "www.covid19mex.net" , 
    searchBox : { 
        selector : "input#search-input"}} </script> <script src="https://cdn.sitesearch360.com/v13/sitesearch360-v13.min.js" asíncrono>
    
    


  </script>
 
</div>
