<div class="widget">
    <h4 class="widget-title">{{t "Etiquetas"}}</h4>
    <div class="content tagcloud">
      <a href="https://www.covid19mex.net/tag/buenapractica/">Buenas Practicas</a>
      <a href="https://www.covid19mex.net/tag/consejos/">Consejos</a>
      <a href="https://www.covid19mex.net/tag/economia/">Economía</a>
      <a href="https://www.covid19mex.net/tag/estadisticas/">Estadísticas</a>
      <a href="https://www.covid19mex.net/tag/aumento-de-contagios/">Aumentos de contagios</a>
      <a href="https://www.covid19mex.net/tag/internacional/">Internacional</a>
      <a href="https://www.covid19mex.net/tag/maximo-de-contagios-diarios-en-mexico/">Máximo de contagios diarios en México</a>
      <a href="https://www.covid19mex.net/tag/minuto-a-minuto/">Minuto a Minuto</a>
      <a href="https://www.covid19mex.net/tag/covid-19-updates/">México covid-19 updates</a>
    </div>
</div>
