<div class="widget">
    <h4 class="widget-title">{{t "Tags"}}</h4>
    <div class="content tagcloud">
       <a href="https://www.covid19mex.net/tag/consejos/">
       <p>Consejos</p>       
       </a>
       <a href="https://www.covid19mex.net/tag/estadisticas/">
       <p>Estadísticas</p>       
       </a>
       
       
    </div>
</div>
