<div class="widget">
    <h4 class="widget-title">{{t "Siguenos"}}</h4>
    <div class="content follow-social">
        <ul class="social-links">
            <li><a href="https://twitter.com/Covid19Mex_net" target="_blank">{{> icons/twitter}}</a></li>
            <li><a href="https://www.facebook.com/Covid19mex.net/" target="_blank">{{> icons/facebook}}</a></li>
            <li><a href="https://www.instagram.com/covid_19_mexico/" target="_blank">{{> icons/instagram}}</a></li>
        </ul>
    </div>
</div>
