<div class="widget">
    <a href="https://www.covid19mex.net/"><h4 class="widget-title">{{@site.title}}</h4></a>
    <div class="content">
        <p>Información veraz para que la gente comprenda la dimensión de la pandemia covid 19.</p>
    </div>
</div>
