<div class="widget">
    <h4 class="widget-title">{{t "Siguenos"}}</h4>
    <div class="content follow-social">
        <ul class="social-links">
            <li><a href="#">{{> icons/twitter}}</a></li>
            <li><a href="#">{{> icons/facebook}}</a></li>
            <li><a href="#">{{> icons/instagram}}</a></li>
        </ul>
    </div>
</div>
