<div class="widget">
    <h4 class="widget-title">{{t "Etiquetas"}}</h4>
    <div class="content tagcloud">
      <a href="https://www.covid19mex.net/tag/buenapractica/">Buenas Practicas</a>
      <a href="https://www.covid19mex.net/tag/consejos/">Consejos</a>
      <a href="https://www.covid19mex.net/tag/durango/">Durango</a>
      <a href="https://www.covid19mex.net/tag/economia/">Economía</a>
      <a href="https://www.covid19mex.net/tag/estadisticas/">Estadísticas</a>
    </div>
</div>
