<div class="widget">
    <h4 class="widget-title">{{t "Tags"}}</h4>
    <div class="content tagcloud">
        {{#get "tags" limit="buenapractica" order="name asc"}}{{tags separator=" "}}{{/get}}
        {{#get "tags" limit="consejos" order="name asc"}}{{tags separator=" "}}{{/get}}
    </div>
</div>
