{{#get "posts" limit="4" filter="tag:retweet"}}
<div class="col-lg-12">
    <div class="row-post-section post-group">
        <div class="post-group-title">
            <span>Tweets destacados</span>
        </div>
        <div class="row">
            <blockquote class="twitter-tweet"><p lang="es" dir="ltr">Hoy dimos por iniciada la fase 3 de la epidemia de <a href="https://twitter.com/hashtag/COVID19?src=hash&amp;ref_src=twsrc%5Etfw">#COVID19</a>. Estamos en la etapa de ascenso rápido que implica un gran número de contagios y hospitalizaciones. Para que sean los menos posibles debemos mantener la Jornada Nacional de Sana Distancia. <a href="https://twitter.com/hashtag/Qu%C3%A9dateEnCasa?src=hash&amp;ref_src=twsrc%5Etfw">#QuédateEnCasa</a> <a href="https://t.co/fnAeMkywCz">pic.twitter.com/fnAeMkywCz</a></p>&mdash; Hugo López-Gatell Ramírez (@HLGatell) <a href="https://twitter.com/HLGatell/status/1252587819186434048?ref_src=twsrc%5Etfw">April 21, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </div>
    </div>
</div>
{{/get}}
