{{#get "posts" limit="5" filter="tag:facebook"}}
<div class="col-lg-4">
    <div class="column-post-section post-group">
        <div class="post-group-title">
            <span>Facebook</span>
        </div>
        <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v6.0"></script>
        <div class="fb-page" data-href="https://www.facebook.com/Covid19mex.net/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Covid19mex.net/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Covid19mex.net/">Covid 19 Mex</a></blockquote></div>
    </div>
</div>
{{/get}}
