{{#get "posts" limit="4" filter="tag:retweet"}}
<div class="col-lg-12">
    <div class="row-post-section post-group">
        <div class="post-group-title">
            <span>Tweets destacados</span>
        </div>
        <div class="row">
         <a class="twitter-timeline" data-width="500" data-height="1110" data-theme="light" href="https://twitter.com/Covid19Mex_net?ref_src=twsrc%5Etfw">Tweets by Covid19Mex_net</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </div>
    </div>
</div>
{{/get}}
